<div class="">
    <div class="row" id="slider">
        <div id="chartdiv" style="width: 100%; height: 200px"></div>
        <button class="control_next" (click)="add()"><i-feather name="chevron-right"></i-feather></button>
        <button class="control_prev" (click)="back()"> <i-feather name="chevron-left"></i-feather> </button>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div id="piechart" style="width: 100%; height: 350px"></div>
            <div id="certainity" style="width: 100%; height: 250px"></div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">
            <div id="funnelChart" style="width: 100%; height: 350px"></div>
            <div id="salechart" style="width: 100%; height: 250px"></div>
        </div>
    </div>
</div>