
<p *ngIf="!params.data.editMode && !params.data.createMode  && fieldName=='table_name.value' ">{{params.data.table_name.value}}</p>
<p *ngIf="!params.data.editMode && !params.data.createMode  && fieldName=='description.value'">{{params.data.description.value}}</p>

<p *ngIf="params.data.editMode && fieldName=='table_name.value'">
    <input type="text" [(ngModel)]="params.data.table_name.value">
</p>
<p *ngIf="params.data.editMode  && fieldName=='description.value'">
    <input type="text" [(ngModel)]="params.data.description.value">
</p>


<p *ngIf="fieldName=='table_name.value' && params.data.createMode">
    <input type="text" [(ngModel)]="params.data.table_name.value">
</p>
<p *ngIf="fieldName=='description.value' && params.data.createMode">
    <input type="text" [(ngModel)]="params.data.description.value">
</p>