<!-- {{message}}
<app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="row">
    <div class="col-12 mb-3">
      <span class="form-input"> Email or username</span>
      <app-input-field
        [config]="{ type: 'number', placeholder: 'number' }"
        name="username"
        required
        ngModel
      ></app-input-field>
    </div>
    <div class="col-12 mb-4">
      <span class="form-input">Password</span>
      <app-input-field
        type="password"
        class="form-control"
        name="password"
        ngModel
      ></app-input-field>
      <!-- <input type="password" class="form-control" name="password" ngModel /> -->
    </div>
  </div>
  <!-- <div class="col-lg-12"> -->
  <button type="submit" [disabled]="!myform.valid" class="btn btn-dark btn1">
    Login
  </button>
  <!-- </div> -->
</form>
