<span *ngIf="params.context.parent==='product-details'">
    <span *ngIf="!params.data.editMode && !params.data.createMode">

        <i-feather style="color: green;" class="m-1" name="edit" (click)="startEditing()"></i-feather>

        <i-feather style="color: red;" class="m-1" name="trash-2" (click)="delete()"> </i-feather>

    </span>
   <span *ngIf="params.data.editMode || params.data.createMode">

       
       <i-feather style="color: green;" class="m-1" name="check-circle" (click)="save()"></i-feather>
       
       <i-feather style="color: red;" class="m-1" name="x-circle" (click)="cancel()">
    </i-feather>
    
</span>
</span>