<ag-grid-angular
class="ag-theme-alpine table table-hover"
style="height: 400px"
[rowData]="rowData"
[columnDefs]="colDefs"
[rowSelection]="'multiple'"
(gridReady)="onGridReady($event)"
(selectionChanged)="onSelectionChanged()"
(cellClicked)="oncellClickedFn($event,$event,$event)"
[gridOptions]="gridOptions"
[pagination]="pagination"
[isRowSelectable]="isRowSelectable"
[paginationPageSize]="paginationPageSize"
[getRowStyle]="getRowStyle"
[rowStyle]="rowStyle"
[defaultColDef]="defaultcolDef"
[editType]="editType"
[suppressRowClickSelection]="true"

></ag-grid-angular>